## TESTING WITH THE DATASET

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.sh

# Visual Studio cache/options directory
.vs/

# Stuff that is not part of the workflow
Generated_Code/
Generated\ Files/

#ISO files
*.iso

#vscode
.vscode/**
.history/**